<p id="notice"><%= notice %></p>

<p>
  <strong>Buying date:</strong>
  <%= @buying.buying_date %>
  <table>
    <tr><td><strong>Store name</strong></td><td><strong>Article name</strong></td><td><strong>Quantity</strong></td></tr>
  <% @buying.buyed_articles_on_store.each do |article_buyed| %>
      <tr>
        <td><%= article_buyed.store_has_article.store.name%></td>
        <td><%= article_buyed.store_has_article.article.name%></td>
        <td><%= article_buyed.quantity %></td>
      </tr>
  <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_buying_path(@buying) %> |
<%= link_to 'Back', buyings_path %>
